<%- include('includes/header') %>
<%- include('includes/nav') %>
<body>
    <div class="container">
        <hr>

        <div class="card">
            <div class="card-header">
                <h2><%= articleAccess.title %></h2>
            </div>
            <div class="card-body">
                    <%- articleAccess.body %>
            </div>
            <br>
        </div>

    </div>
</body>
<%- include('includes/footer') %>