<%- include('../../includes/header') %>
<%- include('../../includes/nav') %>

<div class="container">
    <hr>
    <h2>Artigoss</h2>
    <a href="/admin/articles/new" class="btn btn-success">Criar nova artigo</a>
    <%- include('../../includes/messages') %>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <th>
                        <a class="btn btn-primary" href="/<%= article.slug %>">Ler</a>

                        <a class="btn btn-warning" href="/admin/article/edit/<%= article.id %>">Editar</a>
                        
                        <form action="/article/delete/<%= article.id %>" style="display: inline;" onclick="confirmDelete(this)"> <!--this refere-se ao elemento form-->
                            <button class="btn btn-danger btnDel"> Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script src="/frontend/delete.js"></script>

<%- include('../../includes/footer') %>